:root {
  --primary-color: rgb(217, 112, 89);
  --secondary-color: #d99b77;
  --third-color: #f2d4ae;
  --forth-color: #f2aa52;
  --fifth-color: #535927;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  background-color: #f2d5ae28;
}
.navbar-custom {
  background-color: #f9ecdb;
}
.nav-link,
.navbar-brand {
  color: var(--primary-color);
}
.nav-link:hover,
.navbar-brand:hover {
  color: var(--fifth-color);
}

h1,
h2,
h3 {
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 96px;
  color: var(--primary-color);
}

h2 {
  font-size: 48px;
  text-align: center;
  color: var(--fifth-color);
}

h3 {
  font-size: 24px;
  opacity: 0.7;
  color: var(--secondary-color);
}

p {
  font-size: 18px;
  line-height: 1.9;
  padding: 10px;
  text-align: justify;
}
footer {
  text-align: center;
}
.fa-instagram,
.fa-linkedin,
.fa-github {
  font-size: 33px;
  margin: 45px;
  padding: 10px;
  border-radius: 35px;
  background-color: #f9ecdb;
}
.rounded {
  width: 550px;
  height: auto;
  max-height: 500px;
  object-fit: cover;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.primary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
}

.secondary-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  background: #fcf8f2;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  box-shadow: var(--box-shadow);
}

.homepage-link {
  color: var(--primary-color);
  text-align: center;
  display: block;
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--primary-color);
  font-size: 28px;
  text-decoration: none;
}

.email-link:hover {
  text-decoration: underline;
}
